{% extends "layout.html" %}
{% block content %}

<form action="/" method="POST" enctype="multipart/form-data">
    <div class="row d-flex align-items-center">
        <div class="col-sm-1">時期</div>
        <div class="col-sm-9">
            <select name="select_date" class="form-select" aria-label="Default select example">
                {% for key, value in dic_dates.items() %}
                <option value="{{key}}" {% if key == default_date %} selected {% endif %}>
                    {{value}}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="col-sm-2 text-right">
            <button type="submit" class="btn-primary">出力</button>
        </div>
    </div>
</form>
{% endblock %}